# ==========================================
# BASE DE DATOS LOCAL (DOCKER)
# ==========================================
DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/inspector_dev?schema=public

# ==========================================
# BASE DE DATOS EN LA NUBE (SUPABASE)
# ==========================================
# DATABASE_URL=postgresql://postgres.ukhrenxuhvoseimulfrp:PASSWORD@aws-1-us-east-1.pooler.supabase.com:5432/postgres

# Servidor y autenticación
JWT_SECRET=tu_clave_secreta_jwt
PORT=3000

# Supabase (Storage para imágenes de fallas)
SUPABASE_API_KEY=tu_supabase_api_key
SUPABASE_PROJECT_URL=https://ukhrenxuhvoseimulfrp.supabase.co
